@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Lora:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Lora', serif;
    background-image: "/img/hex.png";
}

.logotipo {
    position: absolute;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    font-size: 1.8rem;
    padding-top: 12px;
    color: #2e2d4c;
}

.logomarca {
    background-color: white;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50%;
    margin-top: -50px;
    transform: translateX(50%) rotate(45deg);
}

.cabecalho {
    font-family: 'Exo2', sans-serif;
    text-align: center;
    color: white;
    margin: auto;
    padding: 80px;
    
}

.logo {
    text-align: center;
    margin-top: 60px;
}

.logo img {
    width: 128px;
    margin: 20px;
    
}

.background {
    background-color: #2e2d4c;
    background-image: url(../img/hex.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
}


.conteudo {
    width: 72%;
    max-width: 960px;
    margin: 60px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    line-height: 2.2rem;
}

.navigation {
    text-align: center;
    margin: 20px;
}


.navigation li{
    display: inline-block;
    margin-right: 30px;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navigation li a:link, .navigation li a:visited {
    color: gray;
    text-decoration: none;
}

.navigation li a:hover {
    color: #2e2d4c;
    text-decoration: wavy;
}

.navigation li a:active{
    color: #2e2d4c;
    font-weight: 500;
}

.img-perfil{
    width: 170px;
    float: left;
    margin-right: 20px;
}

.fotos {
    margin: auto;
    text-align: center;
    column-count: 2;
}

.fotos img {
    width: 100%;
    max-width: 380px;
    max-height: 260px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    filter: grayscale(0.5);
}

.fotos img:hover {
    filter: none;
}

.fonte--media {
    font-size: 1.6rem;
}

.fonte--normal {
    font-size: 16pt;
    line-height: 2.3rem;
}

.fonte--espacada {
    line-height: 2.5rem;
    font-size: 16pt;
}

.exp-topicos {
    list-style: none;
    padding-left: 20px;
    letter-spacing: 0.1px;
    
}

.titulo {
    font-family: 'Exo2', sans-serif;
    margin-top: 50px;
    font-size: 1.9rem;
    
}

.habilidades label {
    width: 200px;
    display: inline-block;
}

.habilidades progress {
    accent-color: #2e2d4c;
    width: 100%;
}

.btn-inicio {
    font-size: 3rem;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.greycolor {
    color: rgb(150, 150, 150);
}

.greycolor:hover {
    color: whitesmoke;
}

.footer {
    background-color: #2e2d4c;
    position: relative;
    padding: 120px;
    color: whitesmoke;
    text-align: center;
}

.footer i {
    padding: 6px;
}